<p>Here are all your Accessories</p>
{{#each closets.accessories}}
<p>{{type}}<p>
        <img src="{{img}}">

        <a href="/{{closet_id}}">
            {{color}}
          </a>

        {{/each}}