
<div class="container1">
  <div class="color1">
    <img src="/public/images/Something.png">
  </div>
  <div class="color2">
  </div>
  <div class="color3">
        <img class="img-fluid floating-shirt" src="https://static1.squarespace.com/static/54340e70e4b0ebdd5103c677/57a9371859cc68978832107f/57d556d803596e4e5bebbeaa/1526414589456/american+apparel__fuchsia_wrinkle+front_mockup.png?format=500w">

  </div>
</div>


{{!-- <img src="https://images.unsplash.com/photo-1492707892479-7bc8d5a4ee93?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7834d8f490640ffe7e7f251227679b3d&auto=format&fit=crop&w=701&q=80" class="img-fluid header" alt="Responsive image"> --}}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This app was designed to help you keep track of all your clothes and to make it easier to find a match to something you already have. Dont Remember every clothing item you have? Well there's 
      an app for that. Nothing to wear? Yes you do! Check your closet anywhere! 
    </p>
  </div>
</div>

<div class="media">
  <img class="align-self-center mr-3" src="https://images.unsplash.com/photo-1505892458649-41be8480bb4a?ixlib=rb-0.3.5&s=592a28e0bb1ce525d01ef65c053c7b2c&auto=format&fit=crop&w=752&q=80" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">Center-aligned media</h5>
  </div>
</div> 

<img src="https://images.unsplash.com/photo-1532472242109-a0f5c155e3de?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f4f8e211baf2a6746a2c7258ca86557&auto=format&fit=crop&w=701&q=80">

<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="https://i.pinimg.com/564x/c9/b7/72/c9b772130e177a9abc5630c6485599a6.jpg" alt="Card image cap">
    <div class="card-body">
    </div>
  </div>
  
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card-body">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQGHaMzrD6D_kYjyTZbVLg2sJnKEOtYUyew3L6Gm3GYJots37SgA">
  </div>
  <div class="card">
    <img class="card-img-top" src="http://d1nr5wevwcuzuv.cloudfront.net/product_photos/52876658/310x5y-l-610x610-shoes-puma-velvet-burgundy-creepers-red-puma_2Bcreepers_large.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Shoe Game</h5>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
       </blockquote>
     <img class="card-img-top" src="https://www.essence.com/wp-content/uploads/2016/09/image/2016/09/main/gettyimages-609881862_master.jpg">
  </div>
  <div class="card text-center">
    <div class="card-body">
      <img src="https://i.pinimg.com/originals/3a/b7/81/3ab781c7ab1d98ee393f2aa8698aa29d.jpg">
      <p class="card-text"> Check Out Fall Fashions For Tall Women</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <img class="card-img-top" src="https://img.ltwebstatic.com/images2_pi/2018/10/08/15389669481266070087_thumbnail_800x.webp">
      <p class="card-text"> Rings Are All The Rage This FALL!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <img class="card-img-top" src="https://img.romwe.com/images/romwe.com/201702/1487039363711891092_thumbnail_800x.webp">
      <footer class="blockquote-footer">
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <img class="card-img-top" src="https://img.ltwebstatic.com/images/pi/201707/98/14990442528647152480_thumbnail_800x.webp">
      <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src="http://lesbranchouilles.com/wp-content/uploads/2018/05/dressing-club-best-390-best-dress-outfits-images-on-pinterest-photos-of-dressing-club.jpg" alt="African Fall Fashion Queen">
  </div>
</div>


