
<img src="https://cdn.hipwallpaper.com/i/22/0/uZc3of.jpg" class="img-fluid header" alt="Responsive image">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<img src="https://i.pinimg.com/564x/c9/b7/72/c9b772130e177a9abc5630c6485599a6.jpg">

<div class="media">
  <img class="align-self-center mr-3" src="https://images.unsplash.com/photo-1505892458649-41be8480bb4a?ixlib=rb-0.3.5&s=592a28e0bb1ce525d01ef65c053c7b2c&auto=format&fit=crop&w=752&q=80" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">Center-aligned media</h5>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </div>
</div> 



