<div class="fashion">
  <img src="https://thumbs.gfycat.com/NippyInexperiencedCero-size_restricted.gif" id="kicking-fashion">
  <img src="images/somethinglogo.png" id="logo-header2">
</div>


<div class="head-photo">
<img src="images/makeover1.png" id="makeover">
 <img id="header-img" src="http://1.bp.blogspot.com/-4WwTV0bKZM8/VOO72bwD2LI/AAAAAAAADT4/yn1zEN0_uoU/s1600/CR_Header_Yellow_trend2015.gif">

</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Something2Wear</h1>
    <p class="lead">This app was designed to keep track of all your clothes and to make it easier to find a match to the things you already have when out shopping. 
      Dont Remember if you have something to go that shirt? Well there's 
      an app for that. Have Nothing to Wear? Yes you do! Check your closet anywhere! 
    </p>
  </div>
</div>


   
 

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://pro2-bar-s3-cdn-cf.myportfolio.com/72d57699966bdf66e3835da3fb5ae665/8779da11-ffac-43e3-9932-e7d0789426e7_rwc_0x80x2338x2338x2338.jpg?h=0d71e12c06aae602622e1d46dd009396/100px180/" alt="Card image cap">
    <div class="card-body">
     <h4 class="card-title">Step 1:</h5>
      <h5 class="card-title">Create A Profile</h5>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://static1.squarespace.com/static/54cabac4e4b098296f3846b4/t/58a4f45ef7e0ab543ebd520c/1487205538862/closet+organization+app/100px180/" alt="Card image cap">
    <div class="card-body">
       <h4 class="card-title">Step 2:</h5>
      <h5 class="card-title">Take A Photo of All Your Clothes</h5>
      <p class="card-text"><small class="text-muted">Make sure that the photo is well lit and nothing else is in the image besides the clothing option</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://static1.squarespace.com/static/5241b695e4b007c50d79889b/t/592e2a032e69cf6b18eac800/1496197645686/100px180/" class="rounded float-left" alt="Card image cap">
    <div class="card-body">
       <h4 class="card-title">Step 3:</h5>
      <h5 class="card-title">Start Sifting Through Your Closet Anywhere. Plan Your Fashion Fits!</h5>
     
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>









<div class="text-center faves">
  <h2 id="faves-text">Fashion Faves Of The Week</h2>
<img src="https://collection-suites.com/wp-content/themes/collection-suites/assets/images/arrow-down-navigation.gif" id="arrow">
</div>

<div class="text-center">
<img src="https://farm2.static.flickr.com/1569/26587949835_d895e432da_b.jpg">
</div>

<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="https://i.pinimg.com/564x/c9/b7/72/c9b772130e177a9abc5630c6485599a6.jpg" alt="Card image cap">
    <div class="card-body">
    </div>
  </div>
  
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card-body">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQGHaMzrD6D_kYjyTZbVLg2sJnKEOtYUyew3L6Gm3GYJots37SgA">
  </div>
  <div class="card">
    <img class="card-img-top" src="http://d1nr5wevwcuzuv.cloudfront.net/product_photos/52876658/310x5y-l-610x610-shoes-puma-velvet-burgundy-creepers-red-puma_2Bcreepers_large.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Shoe Game</h5>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
       </blockquote>
     <img class="card-img-top" src="https://www.essence.com/wp-content/uploads/2016/09/image/2016/09/main/gettyimages-609881862_master.jpg">
  </div>
  <div class="card text-center">
    <div class="card-body">
      <img src="https://i.pinimg.com/originals/3a/b7/81/3ab781c7ab1d98ee393f2aa8698aa29d.jpg">
      <p class="card-text"> Check Out Fall Fashions For Tall Women</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <img class="card-img-top" src="https://img.ltwebstatic.com/images2_pi/2018/10/08/15389669481266070087_thumbnail_800x.webp">
      <p class="card-text"> Rings Are All The Rage This FALL!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <img class="card-img-top" src="https://img.romwe.com/images/romwe.com/201702/1487039363711891092_thumbnail_800x.webp">
      <footer class="blockquote-footer">
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <img class="card-img-top" src="https://img.ltwebstatic.com/images/pi/201707/98/14990442528647152480_thumbnail_800x.webp">
      <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src="http://lesbranchouilles.com/wp-content/uploads/2018/05/dressing-club-best-390-best-dress-outfits-images-on-pinterest-photos-of-dressing-club.jpg" alt="African Fall Fashion Queen">
  </div>
</div>


