 /* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

#logo{
  color: rgb(249, 249, 249);
} 
.profileSection{
  z-index: 10;
  height: 300px;
  width:100%;
  background-color: rgb(29, 140, 174);
}
.userProfile{
  height:250px;
  margin:30px;
  border:solid 12px white;
  box-shadow: 5px 5px 5px 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.userName{
  z-index: 1;
  display:absolute;
  font-size: 40px;
  color:black;
  /* transform: translateY(-180%)translateX(30%);
  -webkit-transform: translateY(-180%)translateX(30%);
  -moz-transform: translateY(-180%)translateX(30%);
  -ms-transform: translateY(-180%)translateX(30%);
  -o-transform: translateY(-180%)translateX(30%); */
}
/* .card-img{
  border:solid 12px white;
  box-shadow: 5px 5px 5px 1px;

} */




.head-photo{
  width: 100%;
  display: flex;
}


#header-img{
  height:30rem;
}
#header-word{
  font-size: 50px;
  background-color: black;
  color: white;
}
#text-header{
  border:solid 10px white;
  display: absolute;
  
}