 body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#logo{
  color: rgb(249, 249, 249);
} 
.profileSection{
  z-index: 10;
  height: 300px;
  width:100%;
  background-color: rgba(153, 14, 79, 0.384);
}
.userProfile{
  height:250px;
  margin:30px;
  border:solid 12px white;
  box-shadow: 5px 5px 5px 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.userName{
  z-index: 1;
  display:absolute;
  font-size: 40px;
  color:white;
  transform: translateY(-400%)translateX(30%);
  -webkit-transform: translateY(-400%)translateX(30%);
  -moz-transform: translateY(-400%)translateX(30%);
  -ms-transform: translateY(-400%)translateX(30%);
  -o-transform: translateY(-400%)translateX(30%);
}
/* .card-img{
  border:solid 12px white;
  box-shadow: 5px 5px 5px 1px;

} */




.head-photo{
  width: 100%;
  display: flex;
}


#header-img{
  height:30rem;
}
#header-word{
  font-size: 50px;
  background-color: black;
  color: white;
}
#text-header{
  border:solid 10px white;
  display: absolute;

}

.fashion{
  height:30rem;
}

#kicking-fashion{
  height: 40rem;
  width: 70%;
}

#logo{
  height:80px;
  width: 100px;
}
#logo-header2{
  transform:translateY(-600px);
  margin-left:800px;
  -webkit-transform:translateY(-600px);
  -moz-transform:translateY(-600px);
  -ms-transform:translateY(-600px);
  -o-transform:translateY(-600px);
}

#makeover{
  width:400px;
  height:600px;
  transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
}

#arrow{
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
}

.faves{
  height: 200px;
  background-color: black;
  color:white;
}
#faves-text{
  font-size: 80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.flexit{
  display: flex;
  justify-content: center;
}
.sizer{
  width: 100%;
}

@media (max-width: 600px){
.flexit{
  display: block;
}
.webSize{
  display: none;
}
.display-4 {
  font-size: 1.5rem;
}
#header-img {
  width: 100%;
  height: 100%;
}
.fashion-img {
  width: 100%;
  height: 100%;
}
#faves-text{
  font-size: 2.5rem;
}

  }
  