<p>Here are all your shirts</p>


{{#each closets.tops}}
<p>{{type}}<p>
        <img src="{{img}}">



        {{/each}}

        <a href="/users/{{userId}}/closet/{{closetId}}/tops"<button>Add New Top</button></a>