<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://mediaassets.wcpo.com/photo/2017/05/07/WCPO_Kroger_Marketplace_1494173958939_59239897_ver1.0_640_480.jpg" alt="Card image cap">
  <div class="card-body">
      <p class="card-title">{{name}}</p>
      <p class="card-title">{{location}}</p>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/stores/{{_id}}" class="btn btn-primary">{{name}}</button></a>
  </div>
</div>
</body>
</html>